<IfModule mod_rewrite.c>
RewriteEngine on

#RewriteRule ^(.*)/$ /$1 [L,R]

RewriteRule ^$ index.php [L]

RewriteRule ^tentang-kami$ index.php?content=tentang-kami [L]

RewriteRule ^program/(.*)$ index.php?content=program&id=$1 [L]
RewriteRule ^program$ index.php?content=program-all [L]

RewriteRule ^acara/(.*)$ index.php?content=acara&id=$1 [L]
RewriteRule ^acara$ index.php?content=acara-all [L]

RewriteRule ^blog/(.*)$ index.php?content=blog&id=$1 [L]
RewriteRule ^blog$ index.php?content=blog-all [L]



</IfModule>
